html {
  background-color: gray;
  color: blue;
  text-align: center;
}
nav {
  border: green dashed  2px;
  text-align: center;
  padding: 15px;
}
.nav-card {
  border: orange dotted 1px;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  position: static;
}
.nav-card:hover {
  background-color: black;
}
a {
  text-decoration: none;
}
.red {
  color: red;
}
.new-card {
  border: yellow solid 1px;
}
.footer {
    background: black;
    text-align: center;
    position: sticky;
}
