---
const { title,
        info: "LordJiriX's website"
       } = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
   <style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
</style>
      <div class="topnav">
            <a href="https://www.curseforge.com/members/lordjirix/projects">CourseForge</a>
            <a href="https://modrinth.com/user/LordJiriX">Modrinth</a>
            <a href="https://github.com/LordJiriX/">Github</a>
            <a href="https://lordjirix.github.io">Home</a>
      </div>
	<body>
		<slot />
	</body>

</html>


