.mod {
  align-self: center;
  border: 1px black solid;
  border-radius: 20%;
  color: black;
  text-align-last: center;
  display: inline-block;
}
body {
  background-color: white;
  align-items: center;
}
a {
  text-decoration: none;
}
